<footer id="main-footer" class="no-select">    
    <p id="copyleft">Copyleft <span style="display: inline-block; transform: rotate(180deg);">&copy;</span> 2020 W Zhang</p>
    <div>
        <a href="https://github.com/WeixuanZ" aria-label="GitHub"><i class="fab fa-github fa-lg"></i></a>
        <a href="***REMOVED***" aria-label="LinkedIn"><i class="fab fa-linkedin fa-lg"></i></a>
        <!-- <a href="mailto:me.unfully@slmail.me"><i class="fas fa-envelope fa-lg"></i></a> -->
        <a href="***REMOVED***" id="key" aria-label="***REMOVED***"><i class="fas fa-certificate fa-lg"></i></a>
    </div>
</footer>