<head>
    {% if site.google-tag-manager-id %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ site.google-tag-manager-id }}');</script>
    <!-- End Google Tag Manager -->
    {% endif%}

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} &middot; {{ site.title }}</title>
    <!-- Fonts -->
    <link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/styles_noncritical.css" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="{{ site.url }}/assets/css/styles_noncritical.css"></noscript> <!-- Fallback -->

    {% if site.font-awesome-kit %}
        <script defer src="https://kit.fontawesome.com/{{ site.font-awesome-kit }}.js" crossorigin="anonymous"></script>
    {% endif %}

    {% if page.content contains "lazyload" %}
        <script async src="https://cdn.jsdelivr.net/npm/lazysizes@5/lazysizes.min.js"></script>
    {% endif %}

    {% if page.mathjax %}
        {% include mathjax.html %}
    {% endif %}

    {% feed_meta %}
    {% seo title=false %}

    {% include custom-head.html %}
</head>
