<nav id="navbar" class="no-select">
<div class="container">
{% for item in site.data.navigation %}
<a {% if page.url == item.link %}class="current"{% else %}href="{{ item.link }}"{% endif %}>{{ item.name }}</a>
{% endfor %}
</div>
</nav>
<script type="text/javascript">
    const navbar = document.querySelector('#navbar');
    const nav_init = navbar.offsetTop;
    window.addEventListener('scroll', function() {
        if (this.scrollY >= nav_init) {
            navbar.classList.add("sticky");
        } else {
            navbar.classList.remove("sticky");
        }
    })
</script>