<nav id="navbar" class="no-select">
<div class="container">
<ul>
    {% for item in site.data.navigation %}
    <li><a {% if page.url == item.link %}class="current"{% else %}href="{{ item.link }}"{% endif %}>{{ item.name }}</a></li>
    {% endfor %}
</ul>
</div>
</nav>
<script type="text/javascript">
    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    const nav_init = $( "#navbar" ).offset().top
    function stick() {
        if ($( window ).scrollTop() >= nav_init) {
            $( "#navbar" ).addClass( "sticky" );
        } else {
            $( "#navbar" ).removeClass( "sticky" );
        }
    }
    $( window ).on('scroll', stick);
</script>