<a href="{{ site.url }}{{ post.url }}">
    <div class="card">
        <div class="post-meta" style="display: flex;">
            <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
            {% if post.tags.size > 0 %}
                &verbar;
                <span class="tag" style="overflow: hidden; white-space: nowrap;">
                    {%- if site.font-awesome-kit -%}
                        <i class="fas fa-tag"></i>
                    {%- else -%}
                        <svg class="icon"><use xlink:href="#icon-tag-solid"></use></svg>
                    {%- endif -%}
                    {% for tag in post.tags %}<code>{{ tag }}</code>{% endfor %}
                </span>
            {% endif %}
        </div>
        <span class="post-title">{{ post.title }}</span><br>
        <span class="post-description">{{ post.description }}</span>
    </div>
</a>
