// Blog

#blog-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
        text-decoration: none;
        display: block;
        width: 100%;
        .card {
            padding: 2% 5%;
            margin: 10px auto;
        }
        .post-meta{
            font-size: $footnotesize;
        }
        .post-title {
            color: $blue;
            font-size: $Large;
            font-weight: 700;
        }
        .post-description {
            font-size: $small
        }
    }

    a:hover{
        text-decoration: none;
        @include color(color, --text-color, $text_color);
        .card{
            @include float-card;
            margin-top: 5px;
            margin-bottom: 15px;
            transition: 0.3s;
        }
        .post-title{
            color: $blue_hover;
        }
    }

    a:active {
        .card {
            margin: 10px auto;
            box-shadow: none;
            transition: none;
        }
    }
}

.post-meta, .page-meta  {
    @include color(color, --gray-text, $gray_text);
}

.page-meta {
    font-size: $small;
}

.date{
    margin-right: 10px;
}

.tag{
    i {
        font-size: 80%;
        margin-right: 5px;
        margin-left: 10px;
    }
    a {
        @include color(color, --gray-text, $gray_text);
        display: inline-block;
    }
    a:hover {
        color: $blue_hover;
    }
    code {
        margin: 0 5px;
        white-space: nowrap;
    }
}

#blog-list-mini{
    margin: 10px;
    @include float-card;
}

#share-btn{
    position: fixed;
    right: 60px;
    bottom: 60px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: $blue;
    box-shadow: 0 0 10px $blue_hover;
    z-index: 10;
    
    i{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 150%;
    }
}

#share-btn:hover{
    background-color: $blue_hover;
}

#share-btn:active{
    box-shadow: none;
}

.shared:before {
    content: attr(fallback-text);
    color: $blue;
    font-size: 12pt;
    font-weight: 600;
    display: inline-block;
    width: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50px);
    text-align: center;
    padding: 5px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    @include color(background-color, --dark-frosted-glass, rgba(245, 247, 249, 0.5));
    border-radius: 5px;
    @include frosted-glass;
}

.shared:hover:before {
    opacity: 1;
}
