// Blog

#blog-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
        text-decoration: none;
        display: block;
        width: 100%;
        .card {
            padding: 2% 5%;
            margin: 10px auto;
        }
        .post-meta{
            font-size: $small;
        }
        .post-title {
            color: $blue;
            font-size: $LARGE;
            font-weight: 700;
        }
        .post-description {
            font-size: $small
        }
    }

    a:hover{
        text-decoration: none;
        color: $text_color;
        .card{
            @include float-card;
            margin-top: 5px;
            margin-bottom: 15px;
            transition: 0.3s;
        }
        .post-title{
            color: $blue_hover;
        }
    }

    a:active {
        .card {
            margin: 10px auto;
            box-shadow: none;
            transition: none;
        }
    }
}

.post-meta, .page-meta  {
    color: $gray_text;
}

.date{
    margin-right: 10px;
}

.tag{
    font-family: $font_code;
    i {
        font-size: 80%;
        margin-right: 5px;
        margin-left: 10px;
    }
}

#blog-list-mini{
    margin: 10px;
    @include float-card;
}

#share-btn{
    position: fixed;
    right: 60px;
    bottom: 60px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: $blue;
    box-shadow: 0 0 10px $blue_hover;
    z-index: 10;
    
    i{
        position: absolute;
        left: 18px;
        top: 18px;
        font-size: 150%;
    }
}

#share-btn:hover{
    background-color: $blue_hover;
}

#share-btn:active{
    box-shadow: none;
}

#share-btn #shared {
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
    visibility: hidden;
    display: inline-block;
    position: relative;
    top: -50px;
    left: -85px;
    width: 200px;
    color: $blue;
    border: none;
    padding: 5px;
    z-index: 1;
    transition: 0.3s;
}

#share-btn:hover #shared {
    visibility: visible;
}
