code {
    font-family: $font__family--code;

    // inline code
    margin: 1px;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 0.85em;
    @include dual-var(background-color, --color__gray-background--dark, $color__gray-background--light);
    // Allow line break anywhere for code surrounded by backticks in markdown
    &[class*="language-plaintext"] {
        overflow-wrap: break-word;

        word-break: break-all;
        word-break: break-word;
    }

    // code block
    pre & {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font-size: 0.8em;
        line-height: 0.8;
    }
}

// https://weblog.west-wind.com/posts/2019/Dec/30/A-HighlightJs-Copy-Code-Badge-Component
.highlighter-rouge {
    position: relative;
}

.code-copy-btn {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.3s;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: calc(min(100% - 36px, 12px));
    right: 2.5%;

    @media only screen and (max-width: #{$width__desktop--min}) {
        opacity: 1;
    }
}

.highlight:hover .code-copy-btn {
    opacity: 1;
}

.code-copy-btn:hover {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.3);
    cursor: copy;
}

.code-copy-btn:active {
    color: rgba(255, 255, 255, 0.8);
}

/* Adjusted to give override background and text colour */
.highlight pre, pre, .highlight .hll {
    // background-color: #49483E;
    background-color: #151516;
    border: none;
    // box-sizing: border-box;
    width: 95%;
    margin: 20px auto;
    padding: 6px 10px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    overflow: scroll;
    z-index: 2;

    // @include phone {
    //     box-sizing: content-box;
    // }
}

.gist pre {
  color: #515151;
}

/*! Highlights taken from https://gist.github.com/asaaki/1007420 for Monokai theme */
.c                 { color: #75715e }                            /* Comment                     */
.err               { color: #960050; background-color: #1e0010 } /* Error                       */
.k                 { color: #66d9ef }                            /* Keyword                     */
.l                 { color: #ae81ff }                            /* Literal                     */
.n                 { color: #f8f8f2 }                            /* Name                        */
.o                 { color: #f92672 }                            /* Operator                    */
.p                 { color: #f8f8f2 }                            /* Punctuation                 */
.cm                { color: #75715e }                            /* Comment.Multiline           */
.cp                { color: #75715e }                            /* Comment.Preproc             */
.c1                { color: #75715e }                            /* Comment.Single              */
.cs                { color: #75715e }                            /* Comment.Special             */
.ge                { font-style: italic }                        /* Generic.Emph                */
.gs                { font-weight: bold }                         /* Generic.Strong              */
.kc                { color: #66d9ef }                            /* Keyword.Constant            */
.kd                { color: #66d9ef }                            /* Keyword.Declaration         */
.kn                { color: #f92672 }                            /* Keyword.Namespace           */
.kp                { color: #66d9ef }                            /* Keyword.Pseudo              */
.kr                { color: #66d9ef }                            /* Keyword.Reserved            */
.kt                { color: #66d9ef }                            /* Keyword.Type                */
.ld                { color: #e6db74 }                            /* Literal.Date                */
.m                 { color: #ae81ff }                            /* Literal.Number              */
.s                 { color: #e6db74 }                            /* Literal.String              */
.na                { color: #a6e22e }                            /* Name.Attribute              */
.nb                { color: #f8f8f2 }                            /* Name.Builtin                */
.nc                { color: #a6e22e }                            /* Name.Class                  */
.no                { color: #66d9ef }                            /* Name.Constant               */
.nd                { color: #a6e22e }                            /* Name.Decorator              */
.ni                { color: #f8f8f2 }                            /* Name.Entity                 */
.ne                { color: #a6e22e }                            /* Name.Exception              */
.nf                { color: #a6e22e }                            /* Name.Function               */
.nl                { color: #f8f8f2 }                            /* Name.Label                  */
.nn                { color: #f8f8f2 }                            /* Name.Namespace              */
.nx                { color: #a6e22e }                            /* Name.Other                  */
.py                { color: #f8f8f2 }                            /* Name.Property               */
.nt                { color: #f92672 }                            /* Name.Tag                    */
.nv                { color: #f8f8f2 }                            /* Name.Variable               */
.ow                { color: #f92672 }                            /* Operator.Word               */
.w                 { color: #f8f8f2 }                            /* Text.Whitespace             */
.mf                { color: #ae81ff }                            /* Literal.Number.Float        */
.mh                { color: #ae81ff }                            /* Literal.Number.Hex          */
.mi                { color: #ae81ff }                            /* Literal.Number.Integer      */
.mo                { color: #ae81ff }                            /* Literal.Number.Oct          */
.sb                { color: #e6db74 }                            /* Literal.String.Backtick     */
.sc                { color: #e6db74 }                            /* Literal.String.Char         */
.sd                { color: #e6db74 }                            /* Literal.String.Doc          */
.s2                { color: #e6db74 }                            /* Literal.String.Double       */
.se                { color: #ae81ff }                            /* Literal.String.Escape       */
.sh                { color: #e6db74 }                            /* Literal.String.Heredoc      */
.si                { color: #e6db74 }                            /* Literal.String.Interpol     */
.sx                { color: #e6db74 }                            /* Literal.String.Other        */
.sr                { color: #e6db74 }                            /* Literal.String.Regex        */
.s1                { color: #e6db74 }                            /* Literal.String.Single       */
.ss                { color: #e6db74 }                            /* Literal.String.Symbol       */
.bp                { color: #f8f8f2 }                            /* Name.Builtin.Pseudo         */
.vc                { color: #f8f8f2 }                            /* Name.Variable.Class         */
.vg                { color: #f8f8f2 }                            /* Name.Variable.Global        */
.vi                { color: #f8f8f2 }                            /* Name.Variable.Instance      */
.il                { color: #ae81ff }                            /* Literal.Number.Integer.Long */
