@media only screen and (max-width: 1000px) {
@media (prefers-color-scheme: dark) {
    $blue             : #2a76dd;  // 1C5CAF
    $blue_hover       : #6ca0e8;
    $background_color : #121212;
    $text_color       : rgba(255, 255, 255, 0.87);
    $gray_element     : rgba(255, 255, 255, 0.38);
    $gray_text        : rgba(255, 255, 255, 0.6);

    @mixin indented-box {
        color: $gray_text;
    }

    @mixin float-card {
        background-color: #222;    
        box-shadow: 9px 9px 16px rgba(0,0,0,0.5), -9px -9px 16px rgba(0,0,0,0.1);
    }

    @import "main";

    .sticky {
        box-shadow: 0 12px 12px -12px #000;
    }

    .hint {
        color: rgba(255, 255, 255, 0.95)
    }

    .danger {
        color: rgba(255, 255, 255, 0.95)
    }

    code {
        background-color: #222;
    }

    pre code {
        background: none;
    }

    .highlight pre, pre, .highlight .hll {
        box-shadow: 0 5px 20px rgba(0,0,0,0.8);
    }
}
}

