// Colours

// Light theme colors
$background_color : #fff;
$text_color       : #222;
$blue             : #2a76dd;
$blue_hover       : #6ca0e8;
$gray_text        : rgb(116, 129, 141);
$gray_element     : rgb(230, 236, 241);
$gray_light       : rgb(245, 247, 249);
$red              : rgb(255, 70, 66);

@mixin color($property, $var, $fallback){
  #{$property}: $fallback;  // This is a fallback for browsers that don't support the next line.
  #{$property}: var($var, $fallback);
}

// Dark theme colors
.theme-dark{
    --background-color: #121212;
    --text-color      : rgba(255, 255, 255, 0.87);
    --gray-element    : rgba(255, 255, 255, 0.38);
    --gray-text       : rgba(255, 255, 255, 0.6);
    --float-color     : #222;
    --dark-shadow1    : #000;
    --dark-shadow2    : rgba(0,0,0,0.5);
    --dark-shadow3    : rgba(0,0,0,0.1);

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        #navbar{
            -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(150%);
            backdrop-filter: saturate(180%) blur(20px) brightness(150%);
            // transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
        }
    }
}

.theme-transit {
    transition: background-color 1s;
}


// Fonts

$font_normal      : -apple-system, 'Source Sans Pro', sans-serif;  // BlinkMacSystemFont
$font_code        : -apple-system-ui-monospace, 'Source Code Pro', monospace;

// Font Sizes

$Huge             : 32pt;  // main-header
$huge             : 27pt;  // header
$LARGE            : 22pt;  // h1
$Large            : 18pt;  // h2
$large            : 16pt;  // h3

$normalsize       : 14pt;

$small            : 13pt;
$footnotesize     : 12pt;


// Mixins

@mixin indented-box($side-color) {
    @include color(color, --gray-text, $gray_text);
    padding-left: 10px;
    margin: 15px 5%;
    border-left: 4px solid $side-color;
}

@mixin float-card {
    z-index: 2;
    padding: 2% 5%;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 9px 9px 16px rgba(0,0,0,0.1), -9px -9px 16px rgba(0,0,0,0.01);
    box-shadow: 9px 9px 16px var(--dark-shadow2, rgba(0,0,0,0.1)), -9px -9px 16px var(--dark-shadow3, rgba(0,0,0,0.01));
    @include color(background-color, --float-color, #fff);
}
