// Colours

$color__blue: #2a76dd;
$color__light-blue: #6ca0e8;
$color__red: #ff4642;

$color__primary: $color__blue;
$color__primary--hover: $color__light-blue;

// Light theme colors
$color__background--light: #fff;
$color__text--light: #222;
$color__gray-text--light: #74818d;
$color__gray-element--light: #e6ecf1;
$color__gray-background--light: #f5f7f9;

@mixin dual-var($property, $var, $fallback) {
    #{$property}: $fallback; // This is a fallback for browsers that don't support the next line.
    #{$property}: var($var, $fallback);
}

@mixin frosted-glass {
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(150%);
        backdrop-filter: saturate(180%) blur(20px) brightness(150%);
        // transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    }
}

// Dark theme colors
.theme-dark {
    --color__background--dark: #000;
    --color__text--dark: #f5f5f6;
    --color__gray-text--dark: #a1a1a5;
    --color__gray-element--dark: #424245;
    --color__gray-background--dark: #151516;

    #navbar {
        @include frosted-glass;
    }
}

.theme-transit {
    transition: background-color 1s;
}


// Fonts
$font__family--normal: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$font__family--code: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;

$font__size--main-header: 32pt;
$font__size--header: 27pt;
$font__size--h1: 22pt;
$font__size--h2: 18pt;
$font__size--h3: 16pt;
$font__size--normal: 14pt;
$font__size--small: 13pt;
$font__size--footnote: 12pt;


@mixin indented-box($side-color) {
    padding-left: 10px;
    margin: 10px;
    border-left: 4px solid $side-color;
}

@mixin float-card {
    z-index: 2;
    border-radius: 10px;
    border-width: 0;
    margin: 10px 0;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.1), -9px -9px 16px rgba(0, 0, 0, 0.01);
    @include dual-var(background-color, --color__gray-background--dark, #fff);
}

@mixin gray-link {
    a {
        @include dual-var(color, --color__gray-text--dark, $color__gray-text--light);
        @content;

        &:hover {
            color: $color__primary--hover;
        }
    }
}


// Break Points
$width__desktop--min: 1000px;
$width__phone--max: 500px;

@mixin tablet {
    @media only screen and (min-width: #{$width__phone--max}) and (max-width: #{$width__desktop--min}) {
        @content;
    }
}

@mixin phone {
    @media only screen and (max-width: #{$width__phone--max}) {
        @content;
    }
}
