// Universal

body{
    font-family: $font_normal;
    font-size: $normalsize;
    font-weight: 400;
    line-height: 1.6em;
    margin: 0;
    @include color(background-color, --background-color, $background_color);
    @include color(color, --text-color, $text_color);
}

::selection{
    color: $blue_hover
}

h1{
    font-size: $LARGE;
    font-weight: 700;
}

h2{
    font-size: $Large;
    font-weight: 700;
}

h3{
    font-size: $large;
    font-weight: 600;
}

h4{
    font-size: $normalsize;
    font-weight: 400;
}

.container{
    width: 60%;
    margin: auto;
    overflow: visible;
    z-index: 0;
}

a{
    @include color(color, --text-color, $text_color);
}

a:hover{
    color: $blue_hover;
}

ul {
    list-style: square;
}

// iframe {
//     border: none;
//     width: 90%;
//     margin: auto;
//     box-shadow: 0 3px 20px rgba(0,0,0,0.1);
// }


img {
    vertical-align: middle;
}

figure > img {
   display: block;
 }
 
figcaption {
   @include color(color, --gray-text, $gray_text);
 }

th, td {
    padding: 15px;
}

caption {
    font-size: 13pt;
}

button {
    transition: background-color 0.3s;
}

hr {
    border: 0;
    height: 2px;
    @include color(background-color, --gray-element, $gray_element);
}

.separator{
    margin-top: 60px;
}

.slides {
    width: 100%;
    box-shadow: none;
    height: 600;
}

.header {
    font-size: $huge;
    font-weight: 700;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}


// Indented boxes

blockquote {
    border-left: 4px solid $gray_element;
    @include indented-box(var(--gray-element, $gray_element));
}

.hint {
    @include indented-box($blue);
}

.danger {
    @include indented-box($red);
}



// Main Header

#main-header {
    padding-top: 40px;
    padding-bottom: 10px;
    cursor: default;
    
    h1{
        font-family: 'Black Ops One', 'Source Code Pro', sans-serif;
        font-size: $Huge;
        margin: 0;
    }

    a{
        text-decoration: none;
    }

    a:hover{
        @include color(color, --text-color, $text_color);
    }
}



// Navigation

#navbar{
    @include color(background-color, --background-color, $background_color);
    width: 100%;
    padding: 15px 0;
    z-index: 10;

    .container {
        display: flex;
        align-items: center;
        line-height: 1.5;
    }

    a{
        color: $blue;
        text-decoration: none;
        font-size: $normalsize;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        padding: 0px 6px;
        margin-right: 10px;
        transition: background-color 0.3s;
        display: inline-block;
    }

    a:hover {
        background-color: $blue;
    }

    a:not(.current):hover{
        border-radius: 5px;
        border: none;
        color: #fff;
        background-color: $blue_hover;
    }

    .current{
        border-radius: 5px;
        border: none;
        color: #fff;
        background-color: $blue;
        cursor: default;
    }
}

.sticky {
    position: sticky;
    top: 0;
    box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 12px -12px var(--dark-shadow1, rgba(0, 0, 0, 0.5));
}

.hidden {
    opacity: 0;
}

#dark-toggle-box {
    display: none;
}

#dark-toggle-label {
    margin-left: auto;
    margin-right: 10px;
    transition: all 0.3s;
    transition-property: opacity, transform;
    cursor: pointer;
    display: none;
}

// Check support for CSS variable
@supports ( (--a: 0)) {
  #dark-toggle-label {
    display: block;
  }
}

#dark-toggle-box:checked + #dark-toggle-label {
    transform: rotate(180deg);
}

#navbar:hover {
    #dark-toggle-label {
        opacity: 1;
    }
}



// Footer

#main-footer{
    @include color(color, --gray-text, $gray_text);
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 12pt;
    font-weight: 300;

    a{
        @include color(color, --gray-text, $gray_text);
    }

    a:hover{
        color: $blue_hover;
    }

    i{
        margin-right: 5px;
    }
}

