// Colours

$background_color : #fff;
$text_color       : #222;
$blue             : #2a76dd;
$blue_hover       : #6ca0e8;
$gray_text        : rgb(116, 129, 141);
$gray_element     : rgb(230,236,241);

// Fonts

$font_normal      : 'Source Sans Pro', sans-serif;
$font_code        : 'Source Code Pro', monospace;

// Font Sizes

$normalsize       : 14pt;

$LARGE            : 22pt;
$Large            : 18pt;
$large            : 16pt;
$small            : 13pt;
$footnotesize     : 12pt;



// Universal

body{
    background-color: #fff;
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    line-height: 1.6em;
    margin: 0;
    // background-color: #e0e0e0;
}

h1{
    font-size: 22pt;
    font-weight: 700;
}

h2{
    font-size: 18pt;
    font-weight: 700;
}

h3{
    font-size: 16pt;
    font-weight: 600;
}

h4{
    font-size: 14pt;
    font-weight: 400;
}

.container{
    width: 60%;
    margin: auto;
    overflow: visible;
    z-index: 0;
}

a{
    color: #222;
}

a:hover{
    color: #6ca0e8;
}

ul {
    list-style: square;
}

// iframe {
//     border: none;
//     width: 90%;
//     margin: auto;
//     box-shadow: 0 3px 20px rgba(0,0,0,0.1);
// }


img {
    vertical-align: middle;
}

figure > img {
   display: block;
 }
 
figcaption {
   color: rgb(116, 129, 141);
 }

th, td {
    padding: 15px;
}

caption{
    font-size: 13pt;
}


blockquote {
    border-left: 4px solid rgb(230,236,241);
}

button{
    transition: 0.3s;
}

hr {
    border: 0;
    border-radius: 25%;
    height: 2px;
    background-color: rgb(230,236,241);
}

.separator{
    margin-top: 60px;
}

.slides {
    width: 100%;
    box-shadow: none;
    height: 600;
}

.header {
    font-size: 27pt;
    font-weight: 700;
}

.date{
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}



// Main Header

#main-header {
    padding-top: 20px;
    margin-bottom: -15px;
    
    h1{
        font-family: 'Black Ops One', 'Source Code Pro', sans-serif;
        font-size: 32pt;
    }

    a{
        text-decoration: none;
    }

    a:hover{
        color: #222;
    }
}



// Navigation

#navbar{
    background-color: #fff;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    z-index: 10;
    
    ul{
        padding:0;
        list-style: none;
    }

    li{
        display: inline;
    }

    a{
        color: #2a76dd;
        text-decoration: none;
        font-size: 14pt;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        padding: 2px 6px;
        margin-right: 10px;
        transition: 0.3s;
    }

    a:hover{
        border-radius: 5px;
        border: none;
        padding: 2px 6px;
        color: #fff;
        background-color: #6ca0e8;
    }

    .current{
        border-radius: 5px;
        border: none;
        padding: 2px 6px;
        color: #fff;
        background-color: #2a76dd;
    }

    .current:hover{
        color: #fff;
        border-radius: 5px;
        border: none;
        padding: 2px 6px;
        color: white;
        background-color: #2a76dd;
    }
}

.sticky {
    position: sticky;
    top: 0;
    box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}



// Blog

#blog-list {
    a{
        text-decoration: none;
        color: #2a76dd
    }

    a:hover{
        text-decoration: none;
        color: #6ca0e8
    }

    ul{
        // list-style: none;
    }
}

#blog-list-mini{
    z-index: 2;
    margin: 10px;
    padding: 2% 5%;
    border-radius: 10px;
    border-width: 0px;

    // border: solid;
    // border-color: #2a76dd;

    box-shadow: 9px 9px 16px rgba(0,0,0,0.1), -9px -9px 16px rgba(0,0,0,0.01);

    /* For Neumorphism Effect */
    // background-color:#E0E5EC;
    // box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
    /* For Neumorphism Effect */
}

#share-btn{
    position: fixed;
    right: 60px;
    bottom: 60px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: #2a76dd;
    box-shadow: 0 0 10px #6ca0e8;
    z-index: 10;
    
    i{
        position: absolute;
        left: 18px;
        top: 18px;
        font-size: 150%;
    }
}

#share-btn:hover{
    background-color: #6ca0e8;
}

#share-btn:active{
    box-shadow: none;
}

#share-btn #shared {
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
    visibility: hidden;
    display: inline-block;
    position: relative;
    top: -50px;
    left: -85px;
    width: 200px;
    color: #2a76dd;
    border: none;
    padding: 5px;
    z-index: 1;
    transition: 0.3s;
}

#share-btn:hover #shared {
    visibility: visible;
}



// Footer

#main-footer{
    color: rgb(116, 129, 141);
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 12pt;
    font-weight: 300;

    a{
        color: rgb(116, 129, 141);
    }

    a:hover{
        color: #6ca0e8;
    }

    i{
        margin-right: 5px;
    }
}



// Mobile

@media only screen and (max-width: 1000px) {
    .container{
        width: 90%;
    }
    #share-btn{
        right: 30px;
    }
    -webkit-text-size-adjust: auto;
}
