// Mobile Critical

@include tablet {
    .container {
        width: 75%;
    }
    #main-header {
        a {
            font-size: $huge;
        }
    }
    figure > img {
        width: 75%;
    }
}

@include phone {
    .container {
        width: 90%;
    }
    #main-header {
        a {
            font-size: 10vw;
        }
    }
    .header {
        font-size: $LARGE;
    }
    figure > img {
        width: 95%;
    }
    table {
        width: 95%;
    }
    #blog-list a .card{
        @include float-card;
        padding-top: 10px;
        padding-bottom: 10px;
        .post-title {
            font-size: $large;
            font-weight: 600;
        }
    }
}