// Mobile Critical

@include tablet {
    .container {
        width: 75%;
    }
    #main-header {
        a {
            font-size: $font__size--header;
        }
    }
    figure > img {
        width: 75%;
    }
}

@include phone {
    .container {
        width: 90%;
    }
    #main-header {
        a {
            font-size: 10vw;
        }
    }
    .header {
        font-size: $font__size--h1;
    }
    figure > img {
        width: 95%;
    }
    table {
        width: 95%;
    }
    // https://stackoverflow.com/questions/5303263/fix-font-size-issue-on-mobile-safari-iphone-where-text-is-rendered-inconsisten
    td {
        -webkit-text-size-adjust: 100%;
    }
    #blog-list a .card {
        @include float-card;
        padding-top: 10px;
        padding-bottom: 10px;

        .post-title {
            font-size: $font__size--h3;
            font-weight: 600;
        }
    }
}
