// Mobile

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    #main-header {
        h1 {
            font-size: $huge;
        }
    }
    .container {
        width: 75%;
    }
    figure > img {
        width: 75%;
    }
}

@media only screen and (max-width: 500px) {
    #main-header {
        h1 {
            font-size: $LARGE;
        }
    }
    .container {
        width: 90%;
    }
    figure > img {
        width: 95%;
    }
    #blog-list a .card{
        @include float-card;
    }
    #share-btn{
        right: 30px;
    }
    #share-btn:hover{
        background-color: $blue;
    }
}