<!DOCTYPE html>
<html>
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTMID');</script>
        <!-- End Google Tag Manager -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ page.title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&family=Source+Sans+Pro:wght@300;400;600;700&family=Black+Ops+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
        <script src="https://kit.fontawesome.com/FAKIT.js" crossorigin="anonymous"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.0.js"></script>
        <script src="/assets/js/clipboard.min.js"></script>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTMID"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="main-header">
            <div class="container">
                <a href="/index.html"><h1>Weixuan Zhang</h1></a>
            </div>
        </div>
        
        {% include navigation.html %}

        <div class="container">
            <div>
                {{ content }}
            </div>
            {% include footer.html %}
        </div>

    </body>

    <!-- gives the HTML time to load before any of the JavaScript loads, which can prevent errors, and speed up website response time -->
    <script src="/assets/js/code_copy.js"></script>
    <script src="/assets/js/navbar.js"></script>

</html>
