---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% if site.google-tag-manager-id %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google-tag-manager-id }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        <div id="main-header" class="no-select">
            <div class="container">
                <a {% if page.layout != 'home' %}href="/index.html"{% endif %}>{{ site.author }}</a>
            </div>
        </div>
        
        {% include navigation.html %}

        <div class="container">

            {{ content }}

            {% include footer.html %}
        </div>

        <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
        {% if page.content contains '```' or page.layout == 'post' %}
            <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
        {% endif %}
        <script src="/assets/js/main.min.js"></script>
    </body>
</html>

