---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
    {% include head.html %}
    <body>
        {% if site.google-tag-manager-id %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google-tag-manager-id }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        {% if site.font-awesome-kit %}{% else %}
            {% include icons.html %}
        {% endif %}

        <div id="main-header" class="no-select">
            <div class="container">
                <a {% if page.layout != 'home' %}href="{{ site.url }}/index.html"{% endif %}>{{ site.title }}</a>
            </div>
        </div>

        {% include navigation.html %}

        <div class="container">

            {{ content }}

            {% include footer.html %}
        </div>

        {% include foot.html %}

        {% if page.content contains '```' or page.layout == 'post' or page.clipboard %}
            <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
        {% endif %}
        <script src="{{ site.url }}/assets/js/main.min.js"></script>
    </body>
</html>

