---
layout: default
---

{% if page.content.size > 0 %}
    {{ content }}
    <div class="separator"></div>
{% endif %}

<h1 class="header">Posts</h1>
<div id="blog-list" data-page="{{ paginator.page }}" data-totalPages="{{ paginator.total_pages }}">
{% for post in paginator.posts %}
    {% include post-card.html %}
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
    <button id="loadmore-btn">Load more...</button>
{% endif %}

{% include tag-cloud.html %}

{% if paginator.total_pages > 1 %}
    <script src="{{ site.url }}/assets/js/pagination.min.js" defer></script>
{% endif %}
