---
layout: default
---
<h1 class="header">{{ page.title }}</h1>
<div class="page-meta no-select">
    <span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
    {% if page.tags.size > 0 %}
        <span class="tag">
            {%- if site.font-awesome-kit -%}
                <i class="fas fa-tag"></i>
            {%- else -%}
                <svg class="icon"><use xlink:href="#icon-tag-solid"></use></svg>
            {%- endif -%}
            {% for tag in page.tags %}<a href="{{ site.url }}/tags/{{ tag | slugify }}"><code>{{ tag }}</code></a>{% endfor %}
        </span>
    {% endif %}

    <p>
        <em>{{ page.description }}</em>
    </p>
</div>

{% if page.toc %}
    <div id="toc">
        <h2 class="no-select">Contents</h2>
        {% include toc.html html=content class='no-select' id='toc-list' skipNoIDs=true h_max=2 %}
    </div>
{% endif %}

{{ content }}

{% if page.comments %}
    <div class="separator"></div>
    {% include comment.html %}
{% endif %}

{% if site.posts.size > 1 %}
<div class="separator"></div>
<div id="blog-list-mini" class="no-select">
    <h2>Latest Posts</h2>
    <ul>
        {% for post in site.categories.posts limit:3 %}
        {% if post.url != page.url %}
            <li>
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<button id="share-btn" fallback-text="Link Copied" aria-label="Share This Post">
    {% if site.font-awesome-kit %}
        <i class="fas fa-share"></i>
    {% else %}
        <svg class="icon"><use xlink:href="#icon-share-solid"></use></svg>
    {% endif %}
</button>
